html,body,*{
    background-color: #1A1A1A !important;
    z-index: auto !important;
    color: #939293 !important;
    border-width: 0 !important;
}
button{
    background-color: #1A1A1A !important;
    z-index: auto !important;
    color: #63D0FF !important;
    border-width: 0 !important;
}